@font-face {
    font-family: 'Geologica-Bold';
    src: url('Geologica-Bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('NanumGothicExtraBold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansCJKkrBold';
    src: url('NotoSansCJKkr-Bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansKRBold';
    src: url('NotoSansKR-Bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
