#propr{
border: none;
max-width : 18.75rem;
max-height: 0.625rem;
}

progress {
color: #f0ff20;
}

progress::-webkit-progress-value {
max-width : 18.75rem;
max-height: 0.625rem;
color: #00457D;
background: #f0ff20;
}
progress::-webkit-progress-bar {
max-width : 18.75rem;
max-height: 0.625rem;
background: #00457D;
}
progress::-moz-progress-value {
max-width : 18.75rem;
max-height: 0.625rem;
color: #00457D;
background-color: #f0ff20;
}

progress::-moz-progress-bar {
max-width : 18.75rem;
max-height: 0.625rem;