@font-face {
    font-family: 'Roboto-Bold';
    src: url('Roboto-Bold.ttf') format('ttf'),
         url('Roboto-Bold.woff') format('woff'),
         url('Roboto-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('NanumSquareRoundB.ttf') format('ttf'),
         url('NanumSquareRoundB.woff') format('woff'),
         url('NanumSquareRoundB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}