@font-face {
    font-family: 'GongGothicOTFMedium';
    src: url('GongGothicOTFMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicOTFBold';
    src: url('GongGothicOTFBold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicOTFLight';
    src: url('GongGothicOTFLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansKRMedium';
    src: url('NotoSansKR-Medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NirmalabUI';
    src: url('NirmalabUI.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}