#myTextBox::placeholder {
	color: white;
}

#myTextBox {
	height: 100px;
	width: 663.49px;
	color: white;
	font-size: 3vmin;
	text-align: center;
	background-image: url("asset5.png");
	background-position: center;
	/* Center the image */
	background-repeat: no-repeat;
	/* Do not repeat the image */
	background-size: cover;
	/* Resize the background image to cover the entire container */
	background-color: transparent;
	border-color: transparent;
	font-family: Fredoka-Medium;
	outline: none;

}