@font-face {
	font-family: "neu";
	font-style: normal;
	font-weight: 400;
	src: url("neuzeitgroteskregular.ttf");
}

@font-face {
	font-family: "neubold";
	font-style: normal;
	font-weight: 400;
	src: url("neuzeitgroteskbold.ttf");
}

@font-face {
	font-family: "avenir";
	font-style: normal;
	font-weight: 400;
	src: url("avenir.ttf");
}

body {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}