@font-face {
    font-family: 'TTTogether';
    src: url('TTTogether.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'ONEMobile';
    src: url('ONE Mobile POP OTF.woff') format('woff');
    font-style: normal;
}
